.mainContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.intro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer h2 {
  align-self: flex-start;
  font-family: Kanit-Regular;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 1.25px;
  text-decoration: underline;
}

.summaryTextP {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  width: 50%;
  margin-top: 2rem;
}

.summaryTextSpan {
  font-family: Kanit-SemiBold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 1px;
  align-self: center;
}

.portraitImage {
  width: 100%;
  height: auto;
  max-width: 140px;
  margin-right: 25px;
  border-style: outset;
  border-radius: 5px;
  border-color: #e7ff7f;
  display: block;
}

.experiences {
  display: flex;
  max-width: 80%;
  flex-direction: column;
  margin-bottom: 2rem;
}

.experiences > h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 850px) {
  .summaryTextSpan {
    font-size: 15px;
    transition: 0.2s;
    margin-top: 3rem;
  }

  .summaryTextP {
    width: 90%;
  }

  .experiences {
    width: 100%;
  }
  .experiences > h2 {
    font-size: 20px;
  }
  .intro {
    flex-direction: column;
  }
}
