.backgroundOverlay {
  display: flex;
  flex-direction: column;
  background-color: #1b1b33;
  width: 98vw;
  min-height: 98vh;
  border-radius: 20px;
}

div.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
