.backgroundOverlay {
  display: flex;
  flex-direction: column;
  background-color: #1b1b33;
  width: 98vw;
  min-height: 98vh;
  /*   margin-top: 25px;
  margin-bottom: 25px; */
  border-radius: 20px;
  align-self: center;
}

section.content {
  flex: 1;
}
