.mainContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.thanks {
  font-family: Kanit-Light;
  color: #e7ff7f;
  font-size: 20px;
  line-height: 55px;
  letter-spacing: 1px;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer form .submitBtn {
  background: #1b1b33;
  color: #e7ff7f;
  border-style: outset;
  border-color: #e7ff7f;
  border-radius: 5px;
  height: 2rem;
  width: 100px;
  font-family: Kanit-Light;
  letter-spacing: 1.25px;
  text-shadow: none;
  font-size: 15px;
  margin-top: 1.5rem;
}

.mainContainer form .submitBtn:hover {
  background: #e7ff7f;
  color: #1b1b33;
  border-style: outset;
  border-color: #e7ff7f;
  border-radius: 5px;
  height: 2rem;
  width: 100px;
  font-family: Kanit-Light;
  letter-spacing: 1.25px;
  text-shadow: none;
  font-size: 15px;
  margin-top: 1.5rem;
}

::placeholder {
  font-family: Kanit-Light;
  letter-spacing: 1.25px;
  text-align: center;
}

input[name='from_name'] {
  background: #fff;
  border-style: Solid;
  border-color: #e7ff7f;
  border-width: 4px;
  border-radius: 9px;
  min-width: 600px;
  min-height: 41px;
  margin-bottom: 1.5rem;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

textarea[name='message'] {
  background: #fff;
  border-style: Solid;
  border-color: #e7ff7f;
  border-width: 4px;
  border-radius: 9px;
  min-width: 600px;
  min-height: 185px;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

div.contactCard {
  width: 350px;
  flex: 1;
  border-style: Solid;
  border-color: #e7ff7f;
  border-width: 4px;
  border-radius: 9px;
  margin-left: 165px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: Kanit-Light;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #e7ff7f;
  padding-left: 2em;
}

.row {
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #e7ff7f;
  margin-bottom: 1.5em;
  display: flex;
}

.icon > a,
.icon > a:hover,
.icon > a:focus,
.icon > a:active {
  text-decoration: none;
  font-family: Kanit-Light;
  font-size: 30px;
  line-height: 1px;
  letter-spacing: 0.75px;
  color: #e7ff7f;
}

.text > a,
.text > a:hover,
.text > a:focus,
.text > a:active {
  text-decoration: none;
  font-family: Kanit-Light;
  font-size: 15px;
  line-height: 1px;
  letter-spacing: 0.75px;
  color: #e7ff7f;
}

.icon {
  font-size: 30px;
}

.text {
  align-self: center;
  margin-left: 2em;
}
