@font-face {
  font-family: 'Kanit-Light';
  src: local('Kanit-Light'), url(../Fonts/Kanit-Light.ttf) format('truetype');
}

.social {
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

span a {
  font-size: 35px;
  margin-right: 150px;
  color: #e7ff7f;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
  .social {
    display: flex;
    justify-content: center;
    margin-left: 15px;
  }

  span a {
    font-size: 27px;
    margin-right: 70px;
    color: #e7ff7f;
    text-decoration: none;
  }
}
