.navBox {
  display: flex;
  width: 100%;
  /* opacity: 100%;
    justify-content: flex-end; */
}

.navBox #first {
  width: 100%;
  padding-left: 32px;
}

.navBox #second {
  width: 100%;
  padding-top: 36px;
}

.navBox div a {
  font-family: Kanit;
  font-size: 23px;
  letter-spacing: 0.92px;
  color: #ffffff;
  margin-right: 100px;
  text-decoration: none;
}

span i {
  font-size: 114px;
  margin-left: 120px;
  color: #e7ff7f;
}

.navBox div a:hover,
.navBox div a:active,
.navBox div a.active {
  text-decoration: none;
  color: #e7ff7f;
}
