nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav ul {
  list-style: none;
}
nav #first {
  width: 100%;
  padding-left: 32px;
}

nav #second {
  width: 100%;
  padding-top: 36px;
}

nav div a {
  font-family: Kanit;
  font-size: 23px;
  letter-spacing: 0.92px;
  color: #ffffff;
  margin-right: 100px;
  text-decoration: none;
}

span i {
  font-size: 114px;
  margin-left: 120px;
  color: #e7ff7f;
}

nav div a:hover,
nav div a:active,
nav div a.active {
  text-decoration: none;
  color: #e7ff7f;
}
