nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav #first {
  width: 100%;
  padding-left: 32px;
}

nav #second {
  width: 100%;
  padding-top: 36px;
}

nav div a {
  font-family: Kanit;
  font-size: 23px;
  letter-spacing: 0.92px;
  color: #ffffff;
  margin-right: 100px;
  text-decoration: none;
}

span i {
  font-size: 114px;
  margin-left: 120px;
  color: #e7ff7f;
}

nav div a:hover,
nav div a:active,
nav div a.active {
  text-decoration: none;
  color: #e7ff7f;
}

#logo {
  width: 5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.hamburger {
  visibility: hidden;
}

@media screen and (max-width: 850px) {
  .openNavMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    transform: translateY(0);
    background-color: #1b1b33;
  }

  nav #second {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .closedNavMenu {
    transform: none;
    visibility: hidden;
    transform: translateY(0);
  }

  .hamburger {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    visibility: visible;
    position: fixed;
    top: 5%;
    right: 5%;
    margin-top: 80px;
  }

  .hamburger i {
    font-size: 35px;
    margin-right: 150px;
    color: #e7ff7f;
    text-decoration: none;
  }

  .hamburger i:hover {
    font-size: 42px;
  }
}
