nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

nav ul {
  list-style: none;
}
nav #first {
  width: 100%;
  padding-left: 32px;
}

nav #second {
  width: 100%;
  padding-top: 36px;
}

nav div a {
  font-family: Kanit;
  font-size: 23px;
  letter-spacing: 0.92px;
  color: #ffffff;
  margin-right: 100px;
  text-decoration: none;
}

span i {
  font-size: 114px;
  margin-left: 120px;
  color: #e7ff7f;
}

nav div a:hover,
nav div a:active,
nav div a.active {
  text-decoration: none;
  color: #e7ff7f;
}

nav #logo {
  width: 5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 768px) {
  #second {
    display: none;
  }

  .hamburger {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
  }

  .hamburger i {
    font-size: 35px;
    margin-right: 150px;
    color: #e7ff7f;
    text-decoration: none;
  }

  .hamburger i:hover {
    font-size: 42px;
    margin-right: 150px;
    color: #e7ff7f;
    text-decoration: none;
  }
}
