@charset "utf-8";
@import '../node_modules/bulma/sass/utilities/mixins.sass';
@import '../node_modules/bulma/sass/utilities/initial-variables.sass';

@font-face {
  font-family: 'Kanit-Light';
  src: local('Kanit-Light'),
    url(../../../Fonts/Kanit-Light.ttf) format('truetype');
}

$yellow: #e7ff7f;
$background: #1b1b33;
$primary: $yellow;
$medium: 40px;
$larger: 95px;

$title-color: $white;
$subtitle-color: $white;

.title {
  &.is-1 {
    @include desktop {
      font-size: $larger !important;
    }
  }
  &.is-3 {
    @include desktop {
      font-size: $medium !important;
    }
  }
  letter-spacing: 4.75px;
  text-overflow: clip;
  font-family: Kanit-Light;
}

.subtitle {
  letter-spacing: 4.75px;
  font-family: Kanit-Light;
  overflow-wrap: break-word;
}

$navbar-background-color: $background;
$navbar-burger-color: $yellow;
$navbar-item-img-max-height: 5rem;
$navbar-item-hover-background-color: transparent;

.navbar {
  border-radius: 20px;
}

.navbar-item a {
  font-family: Kanit-Regular;
  font-size: 23px;
  letter-spacing: 0.92px;
  color: #ffffff;
  margin-right: 100px;
  text-decoration: none;
  margin-top: 2rem;
}

.navbar-menu {
  &.is-active .navbar-end .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.navbar-item {
  &.is-active {
    text-decoration: none;
  }
}

.navbar-item a:hover,
.navbar-item a:active,
.navbar-item a.active {
  text-decoration: none;
  background-color: transparent;
  color: $yellow;
}

@import '../node_modules/bulma/bulma.sass';
