html,
body {
  margin: 0;
  padding: 0;
  background-color: #040421;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'Kanit-SemiBold';
  src: local('Kanit-SemiBold'),
    url(./Fonts/Kanit-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Kanit-Regular';
  src: local('Kanit-Regular'), url(./Fonts/Kanit-Regular.ttf) format('truetype');
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
